
.body_about_us {
  background-image: url(assets/img/mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop {
    background-image: url(assets/img/desktop-background.jpg);
  }

  header {
    a {
      text-decoration: none;
    }
  }

  .container_catchphrase {
    display: flex;
    justify-content: center;


    .catchphrase {
      width: 8rem;
      font-family: $font1;
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      color: $pink-dark;
      filter: drop-shadow(0.25rem 0.25rem 0.25rem $pink-light);
      
      
      .catchphrase-row2 {
        span {
          font-size: 1.25rem;
        }
      }
      .catchphrase-row3 {
        display: flex;
        justify-content: flex-end;
      }

        @include desktop {
          display: none;
        }
      }
  }

    .About_us_textbox {
      width: 100%;
      height: 40%;
      background-color: $blue-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      @include desktop {
        margin-top: 1rem;
      }
      

      h3 {
        text-align: center;
        font-family: $font3;
        color: $blue-dark;
      }

      p {
        text-align: center;
        margin: 10px;
        font-family: $font3;
        color: $blue-dark;
      }
    }

    .employees_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      h4 {
        width: 100%; 
        height: 40px;
        font-family: $font3;
        background: $pink-light;
        color: $blue-dark; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
      }

      .employees_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        background: $blue-light;

        @include desktop {
          flex-direction: row;
        }

        .col-1 {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          margin-top: 2rem;
          margin-bottom: 2rem;
        

          @include desktop {
            width: 50%;
            
          }
        

          img {
            width: 10rem;
            height: auto;
            position: relative;
            display: block;
            border-radius: 6%;
            
            @include desktop {
              width: 15rem;
            }

          }
        }
   

  

        .col-2 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-bottom: 1rem;
          padding-left: 1rem;
          justify-content: center;
          
          
          h5 {
            font-family: $font3;
            color: $blue-dark;
          }
          

          @include desktop {
            width: 50%;
            
          }

          .name {
            font-size: 16px;
            font-style: $font3;
            color: $blue-dark;
          }
      
          .information {
            font-family: $font3;
            font-size: 16px;
            margin-right: 5rem;  
            color: $blue-dark;
          }
  
          .contactMe {
            display: flex;
            width: 10rem;
            

            :hover{
              font-size: 15px;
              color: $pink-dark;
            }

            .social-icon {
              width: 2rem;
            }


            a {
              display: flex;
              gap: 1rem;
              text-decoration: none;
            }

            p {
              color: $blue-dark;
              font-size: 13px;
              font-family: $font2;
    
            }


          }
        }
      }
    }
}