
body {
    background-image: url(/assets/img/mobile-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

.main-container {
    height: 100vh;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}

.catchphrase {
    width: 8rem;
    font-family: $font1;
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 3rem;
    color: $pink-dark;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem $pink-light);
    @include desktop {
      font-size: 6rem;
    }
    p {
      margin: 0;
    }
    .catchphrase-row2 {
      span {
        font-size: 1.25rem;
        @include desktop {
          font-size: 3.25rem;
        }
      }
    }
    .catchphrase-row3 {
      display: flex;
      justify-content: flex-end;
    }
  }

.About_us_textbox {
    width: 100%;
    height: 40%;
    background-color: $blue-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px black solid;
    
    
    

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        margin: 10px;
    }
}

.employees_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  

    h4 {
       width: 100%; 
       height: 40px;
       background: $pink-dark;
       color: black; 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .employees_box_one {
        width: 100%;
        height: 450px;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        background: $blue-light;

     .right_box {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        

        
        
    }

        img {
            height: 50%;
            width: 80%;
            border-radius: 8px;
            margin: 30px;
            
            
            
        }

     

    

    .left_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        margin-left: 20px;
        margin-top: 20px;
        
    }

    .name {
        font-size: 16px;
        font-style: italic;
    }
        
    .information {
        font-size: 16px;
    }
    
   

    }



  
  }