
body {
    background-image: url(/assets/img/mobile-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  

  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: $blue-light;
    position: sticky;
    top: 0;
    z-index: 10;
    @include desktop {
      justify-content: space-between;
      .icon {
        display: none;
      }
    }
    .desktop-nav {
      display: none;
      @include desktop {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: $blue-dark;
      }
    }
    h1 {
      font-family: $font2;
      color: $blue-dark;
    }
  }
  

.main-container {
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}

.catchphrase {
    width: 8rem;
    font-family: $font1;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
    color: $pink-dark;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem $pink-light);
    @include desktop {
      font-size: 6rem;
    }
    p {
      margin: 0;
    }
    .catchphrase-row2 {
      span {
        font-size: 1.25rem;
        @include desktop {
          font-size: 3.25rem;
        }
      }
    }
    .catchphrase-row3 {
      display: flex;
      justify-content: flex-end;
    }
  }

.About_us_textbox {
    width: 100%;
    height: 40%;
    background-color: $blue-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  
    
    
    

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        margin: 10px;
    }
}

.employees_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  

    h4 {
       width: 100%; 
       height: 40px;
       background: $pink-dark;
       color: black; 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 1rem;
       margin-bottom: 1rem;
       padding: 1rem;
    }

    .employees_box_one {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        background: $blue-light;

     .col-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
      
    }

        img {
            width: 10rem;
            height: auto;
            position: relative;
            display: block;
            border-radius: 6%;
            
        }

     

    

    .col-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 3rem;
        
    }

    .name {
        font-size: 16px;
        font-style: italic;
    }
        
    .information {
        font-size: 16px;
        margin-right: 5rem;
        
    }
    
   

    }



  
  }