.containerText{
    text-align: center;
    margin: 1em auto;
}

// -----------CSS for Form---------------
$borderRadius: 10px;

.formContainer{
    width: 100%;
    margin: auto;
    font-size: 16px;
    // border: 2px darkblue solid;
    padding: 5px;
}

.contactForm{
    width: 500px;
    height: 50vh;
    margin: 0 auto;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#emailForm{
    border-radius: $borderRadius;
    border: none;
    
}
#subjectForm{
    margin: 10px 0 0 0;
    text-align: center;
    border-radius: $borderRadius;
    border: none;
}
#contactText{
    border-radius: $borderRadius;
    border: none;


}
#submitButton{
    @include button;
}


// --------------CSS for Divider + IMG------------
.dividerContainer{
    display: flex;
    justify-content: center;
    padding: 2em 0 2em 0;
    // border: 1px pink solid;

}
.divider{
    text-align: center;
    width: 90%;
    border-bottom: 5px solid black
}
.imgContainer{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    }


.officeJPG{
    width: 85%;
    max-width: 500px;
    border-radius: 20px;
}

// ----------INFO BOX-------------
.infoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBox{
width: 300px;
height: 200px;
border: 1px white solid;
background-color: white;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 2rem;

}
.adress, .telephone, .email {
    padding: 0 2px;
}