footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: $pink-medium;
  font-family: "Kumbh Sans", sans-serif;
  address {
    font-size: 0.75rem;
    margin: 0.25rem;
    p {
        margin: 0;
    }
  }
  .contact-socials {
    width: 50%;
    .social-icon {
      margin-right: 1rem;
    }
  }
}
