header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: $blue-light;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid $blue-dark;
  @include desktop {
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    .icon {
      display: none;
    }
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: $font2;
    color: $blue-dark;
  }
  nav {
    a.icon {
      padding-right: 1rem;
    }
    .desktop-nav {
      display: none;
      @include desktop {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.25rem;
        li {
          a {
            text-decoration: none;
            color: $blue-dark;
             &:hover {
              color: $pink-dark
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
        .active-page {
          color: $pink-dark;
          text-decoration: underline;
        }
      }
    }
  }
}
