header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: $blue-light;
  position: sticky;
  top: 0;
  h1 {
    font-family: $font2;
    color: $blue-dark;
  }
  .burger-icon {
    margin: 0 0.5rem;
  }
}
