.startpage {
  background-image: url(assets/img/mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop {
    background-image: url(assets/img/desktop-background.jpg);
  }
  .about-text {
    color: $pink-dark;
    font-family: $font1;
    text-align: center;
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  .main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12rem;
    @include desktop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50rem;
    }
    .cta {
      display: flex;
      justify-content: center;
      a {
        background-color: $blue-dark;
        opacity: 0.8;
        border: none;
        border-radius: 1rem;
        height: 4rem;
        padding: 1rem;
        color: #fff;
        font-size: 1.25rem;
        text-decoration: none;
        filter: drop-shadow(0 0 0.125rem $blue-dark);
        &:hover {
          background-color: darken($blue-dark, 10%);
        }
      }
    }
    .catchphrase {
      width: 8rem;
      font-family: $font1;
      font-size: 2rem;
      margin-top: 3rem;
      margin-left: 3rem;
      color: $pink-dark;
      filter: drop-shadow(0.25rem 0.25rem 0.25rem $pink-light);
      @include desktop {
        font-size: 6rem;
      }
      span {
        margin: 0;
      }
      .catchphrase-row2 {
        span {
          font-size: 1.25rem;
          @include desktop {
            font-size: 3.25rem;
          }
        }
      }
      .catchphrase-row3 {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
