// Color Variables
$blue-dark: #125359;
$blue-medium: #029eac; 
$blue-light: #b3d7db;
$pink-dark: #ff716f;
$pink-medium: #fc8e8b; 
$pink-light: #f3a8a3; 
$grayish: #ebd3cf;

// Fonts
$font1: "B612", sans-serif; 
$font2: "B612 Mono", monospace; 
$font3: "Kumbh Sans", sans-serif; 
