/*
fonts for headings etc.
font-family: "B612", sans-serif;
font-family: "B612 Mono", monospace;
font-family: "Kumbh Sans", sans-serif;
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #b3d7db;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #125359;
}
@media (min-width: 1080px) {
  header {
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }
  header .icon {
    display: none;
  }
}
header a {
  text-decoration: none;
}
header h1 {
  font-family: "B612 Mono", monospace;
  color: #125359;
}
header nav a.icon {
  padding-right: 1rem;
}
header nav .desktop-nav {
  display: none;
}
@media (min-width: 1080px) {
  header nav .desktop-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
  }
  header nav .desktop-nav li a {
    text-decoration: none;
    color: #125359;
  }
  header nav .desktop-nav li a:hover {
    color: #ff716f;
  }
  header nav .desktop-nav:hover {
    cursor: pointer;
  }
  header nav .desktop-nav .active-page {
    color: #ff716f;
    text-decoration: underline;
  }
}

footer {
  width: 100%;
  background-color: #f3a8a3;
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 2px solid #ff716f;
}
footer .contact-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer .bulb-logo {
  height: 2rem;
}
footer .footer-top {
  display: flex;
  align-items: center;
  font-family: "B612", sans-serif;
  color: #125359;
}
footer .footer-top h3 {
  font-family: "B612 Mono", monospace;
}
footer .footer-bottom {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1080px) {
  footer .footer-bottom {
    justify-content: center;
  }
}
footer .footer-bottom address {
  font-size: 0.85rem;
  margin: 0.25rem;
}
footer .footer-bottom address a {
  color: #125359;
  text-decoration: underline;
}
footer .footer-bottom address a:hover {
  color: #029eac;
}
@media (min-width: 1080px) {
  footer .footer-bottom address {
    font-size: 1rem;
  }
}
footer .footer-bottom address p {
  margin: 0;
  color: #125359;
}
footer .footer-bottom ul {
  list-style: none;
}
footer .footer-bottom ul a {
  color: #125359;
  text-decoration: none;
}
footer .footer-bottom ul a:hover {
  color: #029eac;
}
footer .footer-bottom ul li {
  text-align: center;
}
footer p {
  color: #125359;
}
footer > p {
  font-size: 0.75rem;
}

.body_about_us {
  background-image: url(assets/img/mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1080px) {
  .body_about_us {
    background-image: url(assets/img/desktop-background.jpg);
  }
}
.body_about_us header a {
  text-decoration: none;
}
.body_about_us .container_catchphrase {
  display: flex;
  justify-content: center;
}
.body_about_us .container_catchphrase .catchphrase {
  width: 8rem;
  font-family: "B612", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #ff716f;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem #f3a8a3);
}
.body_about_us .container_catchphrase .catchphrase .catchphrase-row2 span {
  font-size: 1.25rem;
}
.body_about_us .container_catchphrase .catchphrase .catchphrase-row3 {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1080px) {
  .body_about_us .container_catchphrase .catchphrase {
    display: none;
  }
}
.body_about_us .About_us_textbox {
  width: 100%;
  height: 40%;
  background-color: #b3d7db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 1080px) {
  .body_about_us .About_us_textbox {
    margin-top: 1rem;
  }
}
.body_about_us .About_us_textbox h3 {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
}
.body_about_us .About_us_textbox p {
  text-align: center;
  margin: 10px;
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
}
.body_about_us .employees_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body_about_us .employees_container h4 {
  width: 100%;
  height: 40px;
  font-family: "Kumbh Sans", sans-serif;
  background: #f3a8a3;
  color: #125359;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.body_about_us .employees_container .employees_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background: #b3d7db;
}
@media (min-width: 1080px) {
  .body_about_us .employees_container .employees_box {
    flex-direction: row;
  }
}
.body_about_us .employees_container .employees_box .col-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 1080px) {
  .body_about_us .employees_container .employees_box .col-1 {
    width: 50%;
  }
}
.body_about_us .employees_container .employees_box .col-1 img {
  width: 10rem;
  height: auto;
  position: relative;
  display: block;
  border-radius: 6%;
}
@media (min-width: 1080px) {
  .body_about_us .employees_container .employees_box .col-1 img {
    width: 15rem;
  }
}
.body_about_us .employees_container .employees_box .col-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  justify-content: center;
}
.body_about_us .employees_container .employees_box .col-2 h5 {
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
}
@media (min-width: 1080px) {
  .body_about_us .employees_container .employees_box .col-2 {
    width: 50%;
  }
}
.body_about_us .employees_container .employees_box .col-2 .name {
  font-size: 16px;
  font-style: "Kumbh Sans", sans-serif;
  color: #125359;
}
.body_about_us .employees_container .employees_box .col-2 .information {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  margin-right: 5rem;
  color: #125359;
}
.body_about_us .employees_container .employees_box .col-2 .contactMe {
  display: flex;
  width: 10rem;
}
.body_about_us .employees_container .employees_box .col-2 .contactMe :hover {
  font-size: 15px;
  color: #ff716f;
}
.body_about_us .employees_container .employees_box .col-2 .contactMe .social-icon {
  width: 2rem;
}
.body_about_us .employees_container .employees_box .col-2 .contactMe a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
.body_about_us .employees_container .employees_box .col-2 .contactMe p {
  color: #125359;
  font-size: 13px;
  font-family: "B612 Mono", monospace;
}

header #myLinks {
  display: none;
  position: fixed;
  top: 5.125rem;
  right: 0;
  background-color: #b3d7db;
  width: 30%;
  z-index: 10;
  text-align: center;
  font-size: 1.25rem;
  border-bottom: 2px solid #125359;
  border-left: 2px solid #125359;
}
header #myLinks .icon:not(a) {
  color: white;
  padding: 1rem;
}
header #myLinks a {
  color: #125359;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}
header #myLinks a .icon {
  background-color: transparent;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
header #myLinks a icon:hover, header #myLinks a:hover {
  background-color: #029eac;
  color: #125359;
}
@media (min-width: 1080px) {
  header #myLinks a icon:hover, header #myLinks a:hover {
    background-color: transparent;
    color: #ff716f;
  }
}

.startpage {
  background-image: url(assets/img/mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1080px) {
  .startpage {
    background-image: url(assets/img/desktop-background.jpg);
  }
}
.startpage .about-text {
  color: #ff716f;
  font-family: "B612", sans-serif;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.25rem;
}
.startpage .main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12rem;
}
@media (min-width: 1080px) {
  .startpage .main-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50rem;
  }
}
.startpage .main-container .cta {
  display: flex;
  justify-content: center;
}
.startpage .main-container .cta a {
  background-color: #125359;
  opacity: 0.8;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  filter: drop-shadow(0 0 0.125rem #125359);
}
.startpage .main-container .cta a:hover {
  background-color: #092b2f;
}
.startpage .main-container .catchphrase {
  width: 8rem;
  font-family: "B612", sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
  color: #ff716f;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem #f3a8a3);
}
@media (min-width: 1080px) {
  .startpage .main-container .catchphrase {
    font-size: 6rem;
  }
}
.startpage .main-container .catchphrase span {
  margin: 0;
}
.startpage .main-container .catchphrase .catchphrase-row2 span {
  font-size: 1.25rem;
}
@media (min-width: 1080px) {
  .startpage .main-container .catchphrase .catchphrase-row2 span {
    font-size: 3.25rem;
  }
}
.startpage .main-container .catchphrase .catchphrase-row3 {
  display: flex;
  justify-content: flex-end;
}

.services-page {
  background-image: linear-gradient(#b3d7db, #f3a8a3);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1080px) {
  .services-page main {
    max-width: 80%;
    margin: 0 auto;
  }
}
.services-page main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
@media (min-width: 1080px) {
  .services-page main section {
    flex-direction: row;
  }
}
.services-page main article {
  margin: 0 1rem 3rem 1rem;
}
@media (min-width: 1080px) {
  .services-page main article {
    width: 25%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.services-page main img {
  margin: 0 1rem;
}
.services-page main h2 {
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
  margin: 3rem 0;
  font-size: 1.75rem;
  text-align: center;
}
@media (min-width: 1080px) {
  .services-page main h2 {
    display: flex;
    justify-content: center;
  }
}
.services-page main h3 {
  font-family: "Kumbh Sans", sans-serif;
  color: #ff716f;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 1080px) {
  .services-page main h3 {
    height: 4rem;
  }
}
@media (min-width: 1080px) {
  .services-page main article:nth-of-type(2) > h3,
  .services-page main article:nth-of-type(4) > h3 {
    display: flex;
    flex-direction: row-reverse;
  }
}
.services-page main p {
  color: #125359;
  text-align: left;
}
.services-page main .contact-button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
@media (min-width: 1080px) {
  .services-page main .contact-button {
    display: none;
  }
}
.services-page main .contact-button button {
  background-color: #125359;
  opacity: 0.8;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  filter: drop-shadow(0 0 0.125rem #125359);
}
.services-page main .contact-button button:hover {
  background-color: #092b2f;
}
.services-page main .contact-button-desktop {
  display: none;
}
@media (min-width: 1080px) {
  .services-page main .contact-button-desktop {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}
.services-page main .contact-button-desktop button {
  background-color: #125359;
  opacity: 0.8;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  filter: drop-shadow(0 0 0.125rem #125359);
  width: 10rem;
}
.services-page main .contact-button-desktop button:hover {
  background-color: #092b2f;
}

.cases-page {
  background-image: linear-gradient(#b3d7db, #f3a8a3);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1080px) {
  .cases-page main {
    max-width: 80%;
    margin: 0 auto;
  }
}
.cases-page main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
@media (min-width: 1080px) {
  .cases-page main section {
    flex-direction: row;
  }
}
.cases-page main article {
  margin: 0 1rem 3rem 1rem;
}
@media (min-width: 1080px) {
  .cases-page main article {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.cases-page main h2 {
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
  margin: 3rem 0;
  font-size: 1.75rem;
  text-align: center;
}
@media (min-width: 1080px) {
  .cases-page main h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
}
.cases-page main h3 {
  font-family: "Kumbh Sans", sans-serif;
  color: #ff716f;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.cases-page main .review-stars {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cases-page main .customer-portrait {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0.5rem;
  float: left;
}
@media (min-width: 1080px) {
  .cases-page main .customer-portrait {
    width: 8rem;
  }
}
.cases-page main p {
  color: #125359;
  text-align: left;
}
.cases-page main .contact-button {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
@media (min-width: 1080px) {
  .cases-page main .contact-button {
    display: none;
  }
}
.cases-page main .contact-button button {
  background-color: #125359;
  opacity: 0.8;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  filter: drop-shadow(0 0 0.125rem #125359);
}
.cases-page main .contact-button button:hover {
  background-color: #092b2f;
}
.cases-page main .contact-button-desktop {
  display: none;
}
@media (min-width: 1080px) {
  .cases-page main .contact-button-desktop {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}
.cases-page main .contact-button-desktop button {
  background-color: #125359;
  opacity: 0.8;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
  filter: drop-shadow(0 0 0.125rem #125359);
  width: 10rem;
}
.cases-page main .contact-button-desktop button:hover {
  background-color: #092b2f;
}

.contact-page {
  background-image: url(assets/img/mobile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1080px) {
  .contact-page-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.contact-page-wrapper .left-container {
  border-right: 5px solid black;
}
@media (max-width: 1080px) {
  .contact-page-wrapper .left-container {
    border: none;
  }
}

@media (min-width: 1080px) {
  body {
    background-image: linear-gradient(#b3d7db, #f3a8a3);
  }
  body .left-container {
    width: 49%;
  }
}
.containerText {
  text-align: center;
  margin: 1em auto;
  font-family: "B612 Mono", monospace;
  color: #125359;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: "Kumbh Sans", sans-serif;
}

#emailForm, #subjectForm, #contactText {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#contactText::-moz-placeholder {
  text-align: center;
}

#contactText::placeholder {
  text-align: center;
}

#subjectForm {
  text-align: center;
}

.contactForm {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.contactForm fieldset {
  margin-bottom: 10px;
}
.contactForm fieldset label {
  display: block;
  font-weight: bold;
}
.contactForm fieldset select {
  background-color: #fff;
}

#submitButton {
  background-color: #125359;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
#submitButton:hover {
  background-color: #092b2f;
}

.dividerContainer {
  display: flex;
  justify-content: center;
  padding: 2em 0 2em 0;
}

.divider {
  font-family: "Kumbh Sans", sans-serif;
  color: #125359;
  text-align: center;
  width: 90%;
  border-bottom: 5px solid #125359;
}
@media (min-width: 1080px) {
  .divider {
    border: none;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.officeJPG {
  width: 85%;
  max-width: 500px;
  border-radius: 20px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBox {
  font-family: "Kumbh Sans", sans-serif;
  width: 300px;
  height: 200px;
  border: 1px white solid;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.infoBox a {
  color: black;
}
.infoBox a:hover {
  color: #ebd3cf;
}

.adress, .telephone, .email {
  padding: 0 2px;
}/*# sourceMappingURL=style.css.map */