@import "partials/mixins";
@import "partials/variables";
@import "partials/global";
@import "partials/header";
@import "partials/footer";
@import "partials/about";
@import "partials/hamburger";
@import "partials/startpage";
@import "partials/services";
@import "partials/cases";
@import "partials/contact-us"

